body {
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
    color: #40514E;
    font-weight: bold;
}

h1 {
    font-size: 6rem;
    margin: 198px auto 0 auto;
    font-family: 'Sacramento', cursive;
    color: #66BFBF;
    line-height: 2;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color: #66BFBF;
    font-weight: bold;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
    font-size: 1.5rem;
}

a {
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 20px;
    text-decoration: none;
}

a:hover {
    color: #EAF6F6;
}

.top-container {
    background-color: #E4F9F5;
    position: relative;
    padding-top: 100px;
}

.bottom-container {
    background-color: #66BFBF;
    padding: 50px 0 20px;
}

.top-cloud {
    position: absolute;
    right: 300px;
    top: 100px;
}

.bot-cloud {
    position: absolute;
    left: 300px;
    bottom: 300px;
}

.skill-row {
    width: 50%;
    margin: 100px auto 200px auto;
    text-align: left;
    line-height: 2;
}

.ui {
    width: 25%;
    float: left;
    margin-right: 30px;
}

.web {
    width: 25%;
    float: right;
    margin-left: 30px;
}

.profile {
    margin: 100px auto 100px auto;
}

.btn {
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 20px;
    background: #66BFBF;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}
  
.btn:hover {
    background: #11999E;
    text-decoration: none;
}

hr {
    border-color: #C5C5C5;
    border-style: none;
    border-top-style: dotted;
    border-width: 7px;
    width: 50px;
}

.skills {
    margin: 100px auto 100px auto;
}

.contact-me {
    margin: 100px auto 100px auto;
}

.msg {
    padding-bottom: 20px;
}

.end {
    color: #EAF6F6;
    font-size: 0.75rem;
    padding: 20px 0;
}